<!DOCTYPE html>
<html>

<head>
  <title>RailsWatchList</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script src="https://kit.fontawesome.com/1e4f204f38.js" crossorigin="anonymous"></script>
</head>

<body>

  <header>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top mask-custom shadow-1">
      <div class="container">
        <%= link_to 'MovieList', root_path, class:"navbar-brand " %>
        <div class="justify-content-end" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto ">
            <li class="nav-item">
              <%= link_to "My Lists", root_path, class:"nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Create New List", new_list_path, class:"nav-link" %>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Navbar -->
  </header>
  <div class="container pt-6">
    <%= yield %>
  </div>
</body>

</html>
